<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>
    
    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/product.css">
    <title>
        Cerveza 437 ml | PintaBar
    </title>
</head>
<body>

    <%- include('../partials/header') %>

    <main>
        <section class="product">
            <div class="product__img">
                <img src="../img/categories/drinks/beer.webp" alt="Imagen categoria">
            </div>
            <div class="product__detail">
                <p class="name">Cerveza 437 ml</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="price">$ 500.<span>00</span></p>
                <button class="detail__buy">Comprar</button>
                <button class="detail__add">Agregar al carrito</button>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>
    
</body>
</html>