<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/products.css">
    <link rel="icon" href="../img/title/beer.png">
    <title>
        PintaBar
    </title>
</head>

<body>
    <header class="header">
        <div class="header__title">
            <a href="/">
                <h1>PintaBar</h1>
            </a>
        </div>
        <div class="header__opt">
            <div class="opt__signin">
                <a href="/user/login">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="/user/register">Registrarme</a>
            </div>
        </div>
    </header>
    <main>
        <section class="promotions">
            <div class="promotions__img">
                <img src="img/promotions/pizzas.png" alt="Img promoción">
            </div>
            <div class="promotions__info">
                <h2>50% OFF</h2>
                <h3>Pizza y pastas</h3>
                <button>Ver promociones</button>
            </div>
        </section>

        <section class="products">
            <div class="products__title">
                <p>Nuestras Birras Artesanales</p>
            </div>
            <div class="products__item">
                <img src="img/productsViewImg/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza IPA </p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/productsViewImg/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza APA</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/productsViewImg/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza GOLDEN</p>
                    <p class="price">$ 350.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/productsViewImg/pinta-img.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza SCOTISH</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>

        <section class="products">
            <div class="products__title">
                <p>Productos Patagonia</p>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\CervezaPatagoniaAbrazodeOsoLata473ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza OSO </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\CervezaPatagoniaVeraIPALata410ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia Vera IPA</p>
                    <p class="price">$ 340.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\24CervezasPatagoniaWeisseLta410ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza WEISSE</p>
                    <p class="price">$ 350.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\Patagonia_BohemianPilsener_410ml_1000x1000px.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza BOHEMIAN</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\CervezaPatagoniaAbrazodeOsoLata473ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia OSO </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\PackIsidrax24Latas473ml.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia Sidra </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\Patagonia_247_410ml_1000x1000px.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia 24.7 </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\Patagonia_AmberLager_410ml_1000x1000px.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Patagonia AMBER </p>
                    <p class="price">$ 320.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>


        <section class="products">
            <div class="products__title">
                <p>Birras Artesanales - Argentinas</p>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\okcidenta-logo.jpg" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Ockidenta </p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\sandiego-logo.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">San Diego</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\faucaria-logo.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Faucaria</p>
                    <p class="price">$ 350.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img\productsViewImg\psicotella-logo.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">psicotella</p>
                    <p class="price">$ 380.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>


    </main>
    <footer class="footer">
        <section>
            <p> Copyright &copy; 2022 Appinta S.R.L.</p>
        </section>
    </footer>
</body>

</html>