<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/components/header-user.css">
    <link rel="stylesheet" href="css/components/promotions.css">
    <link rel="stylesheet" href="css/components/categories.css">
    <link rel="icon" href="img/title/beer.png">
    <title>
        Home | PintaBar
    </title>
</head>
<body>
    <header class="header">
        <div class="header__title">
            <a href="/"><h1>PintaBar</h1></a>
        </div>
        <div class="header__opt">
            <div class="opt__signin">
                <a href="/login">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="/register">Registrarme</a> 
            </div>
        </div>
    </header>
    <main>
        <section class="header-user">
                <h2>Bienvenid@</h2>
                <h3>
                    No te quedes sin un lugar! Podés reservar tu mesa para vos y tus amig@s desde aquí. 
                    Te esperamos! 
                    <img src="img/title/beer.png" alt="Img beer">
                </h3>
                <button><i class="bi bi-geo-alt-fill"></i> Reservar en PintaBar</button>
        </section>
        <section class="promotions">
            <div class="promotions__img">
                <img src="img/promotions/pizzas.png" alt="Img promoción">
            </div>
            <div class="promotions__info">
                <h2>50% OFF</h2>
                <h3>Pizza y pastas</h3>
                <button>Ver promociones</button>
            </div>
        </section>
        <section class="categories">
            <div class="categories__title">
                <p>Nuestros productos</p>
            </div>
            <div class="categories__item">
                <img src="img/categories/cervezas.jpg" alt="Imagen categoria">
                <p>Cervezas</p>
            </div>
            <div class="categories__item">
                <img src="img/categories/pizzas.jpeg" alt="Imagen categoria">
                <p>Pizzas</p>
            </div>
            <div class="categories__item">
                <img src="img/categories/pollo.jpg" alt="Imagen categoria">
                <p>Pollos</p>
            </div>
            <div class="categories__item">
                <img src="img/categories/picadas.webp" alt="Imagen categoria">
                <p>Picadas</p>
            </div>
            <div class="categories__item">
                <img src="img/categories/vinos.jpg" alt="Imagen categoria">
                <p>Vinos</p>
            </div>
            <div class="categories__item">
                <img src="img/categories/jugos.webp" alt="Imagen categoria">
                <p>Jugos</p>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section>
            <p> Copyright &copy; 2022 Appinta S.R.L.</p>
        </section>
    </footer>
</body>
</html>