<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/components/promotions.css">
    <link rel="stylesheet" href="css/components/categories.css">
    <link rel="stylesheet" href="css/components/products.css">
    <title>
        PintaBar
    </title>
</head>
<body>
    <header class="header">
        <div class="header__title">
            <a href=""><h1>PintaBar</h1></a>
        </div>
        <div class="header__opt">
            <div class="opt__signin">
                <a href="">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="">Registrarme</a> 
            </div>
        </div>
    </header>
    <main>
        <section class="promotions">
            <div class="promotions__img">
                <img src="img/promotions/pizzas.png" alt="Img promoción">
            </div>
            <div class="promotions__info">
                <h2>50% OFF</h2>
                <h3>Pizza y pastas</h3>
                <button>Ver promociones</button>
            </div>
        </section>

        <section class="products">
            <div class="products__title">
                <p>Nuestros productos</p>
            </div>
            <div class="products__item">
                <img src="img/products/beer.webp" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Cerveza 437 ml</p>
                    <p class="price">$ 500.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/products/heineken.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Heineken 1 lt</p>
                    <p class="price">$ 690.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
            <div class="products__item">
                <img src="img/products/brahma.png" alt="Imagen categoria">
                <div class="item__info">
                    <p class="description">Brahma 1 lt</p>
                    <p class="price">$ 290.<span>00</span></p>
                </div>
                <button class="item__add">+</button>
            </div>
        </section>

    </main>
    <footer class="footer">
        <section>
            <p> Copyright &copy; 2022 Appinta S.R.L.</p>
        </section>
    </footer>
</body>
</html>