<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/components/header-user.css">
    <link rel="stylesheet" href="css/components/promotions.css">
    <link rel="stylesheet" href="css/components/categories.css">
    <link rel="stylesheet" href="css/components/register.css">
    
    <title>
       Registro
    </title>
</head>
<body>
     <header class="header">
            <div class="header__title">
                <a href=""><h1>PintaBar</h1></a>
            </div>
          </header>
    <section class="header-user2">
        <h2>Bienvenid@
         <img src="img/title/beer.png" alt="Img beer"></h2>
        <h4>
           Formulario de registro
        </h4>
    </section>
    <section class="form-register">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre">
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido">
        <input class="controls" type="text" name ="dni" id="dni" placeholder="Ingrese DNI">
        <input class="controls" type="date" name="fechanac" id="fechanac">
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña"><br>
        <input class="custom-radio-checkbox__input" type="radio" value="m" >Mayor de 18 años<br><br>
        <input class="botons" type="submit" value="Registrarse">
    
      </section>

      <footer class="footer">
        <section>
            <p> Copyright &copy; 2022 Appinta S.R.L.</p>
        </section>
    </footer>
</body>
</html>