.product__img label,
.product__img input {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-family: "calibri";
}

.product__img label {
  text-align: left;
  font-size: 18px;
  color: var(--black);
}

.product__img img {
  max-width: 100%;
}

.product__categories {
  margin-bottom: 12px;
}

.product__categories p {
  text-align: left;
  font-size: 18px;
  color: var(--black);
}

.product__categories label {
  display: block;
  width: 100%;
  text-align: left;
  margin-left: 8px;
}

.product__categories .categories__item label {
  margin-bottom: 4px;
}