.header {
    height: 60px;
    display: flex;
    padding: 12px;
    z-index: 100 !important;
}

.header__title,
.header__opt {
    display: flex;
    align-items: center;
    width: 50%;
}


/*  TITLE */
.header__title {
    justify-content: start;
}

.header__title a {
    text-decoration: none;
}

.header__title h1 {
    color: var(--white);
}


/* OPTIONS */
.header__opt {
    justify-content: end;
}

.header__opt i {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.opt__cart,
.opt__account {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt__cart {
    width: 50px;
    height: 30px;
}

.opt__account {
    width: 36px;
    height: 36px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
}

.account__options {
    background-color: white;
    width: 130px;
    position: absolute;
    bottom: -78px;
    right: 4px;
    color: var(--black);
    padding: 8px 4px;
    border-radius: 4px;
    padding-left: 6px;
    display: none;
}

.account__options::before {
    content: '';
    position: absolute;
    top: 0;
    right: 4px;
    background-color: var(--white);
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    z-index: 90 !important;
}

.account__options.show {
    display: block !important;
}

.account__options ul {
    list-style: none;
}

.account__options ul li a {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    padding: 6px;
    color: var(--black);
    border-bottom: 1px solid #eeeeee;
}

.account__options a.last {
    border-bottom: none;
}

.account__options a:hover {
    color: #28a745 !important;
    z-index: 20;
}

.account__options a i {
    font-size: 16px;
    display: inline;
}


.opt__cart > a {
    color: var(--white) !important;
    text-decoration: none;
}

.opt__cart div {
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: 4px;
}


/* SIGNIN Y SIGNUP */
.opt__signin,
.opt__signup {
    width: 100px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--md);
}

.opt__signin a,
.opt__signup a {
    color: var(--white);
}

.opt__signin:hover a,
.opt__signup:hover a {
    color: var(--green-action);
}

.beer {
    width:25px;
    height:25px;
}

