.promotions {
    background-color: var(--green);
    max-width: var(--max-width);
    display: flex;
    border-radius: var(--border-radius);
    margin: 12px;
    padding: 8px;
}

.promotions > div {
    width: 50%;
}

.promotions__img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.promotions__img img {
    max-width: 100px;
    height: auto;
}
.promotions__img button {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    font-size: var(--xl);
    border: none;
}

.promotions__img button.left {
    left: 5px;
}

.promotions__img button.right {
    right: 5px;
}

.promotions__img button:hover {
    font-size: calc(var(--xl) * 1.2);
}

.promotions__info {
    padding: 12px;
    position: relative;
}

.promotions__info h2 {
    font-size: var(--lg);
    color: var(--black);
    font-weight: 700;
    margin-bottom: 4px;
}

.promotions__info h3 {
    font-size: var(--md);
    color: var(--black);
    font-weight: 600;
    margin-bottom: 8px;
}

.promotions__info a {
    padding: 8px 6px;
    color: var(--green-action);
    font-size: 500;
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* medium */
@media (min-width: 768px) {
    .promotions {
        max-width: calc(var(--max-width) - 100px);
        margin-left: auto;
        margin-right: auto;
    }
    .promotions__img img {
        max-width: 150px;
    }
}

@media (min-width: 820px)  {
    .promotions {
        max-width: var(--max-width);
    }
}
