.promotions {
    background-color: var(--green);
    max-width: var(--max-width);
    display: flex;
    border-radius: var(--border-radius);
    margin: 12px;
    padding: 8px;
}

.promotions > div {
    width: 50%;
}

.promotions__img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promotions__img img {
    max-width: 100px;
    height: auto;
}


.promotions__info {
    padding: 12px;
}
.promotions__info h2 {
    font-size: var(--lg);
    color: black;
    font-weight: 700;
    margin-bottom: 4px;
}
.promotions__info h3 {
    font-size: var(--md);
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}
.promotions__info button {
    width: 100%;
    padding: 8px 6px;
    background-color: black;
    color: var(--white);
    border: none;
    border-radius: var(--border-radius);
}
.promotions__info button:hover {
    cursor: pointer;
}


/* medium */
@media (min-width: 768px) {
    .promotions {
        max-width: calc(var(--max-width) - 100px);
        margin-left: auto;
        margin-right: auto;
    }
    .promotions__img img {
        max-width: 150px;
    }
}

@media (min-width: 820px)  {
    .promotions {
        max-width: var(--max-width);
    }
}
