<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="../css/components/login.css">
    <title>
        Recuperar contrase単a | PintaBar
    </title>
</head>
<body>
    <%- include('../partials/header') %>

    <section class="header-user2">
        <h2>Recuperar contrase単a</h2>
        <h4>Enviaremos un enlace para recuperar su contrase単a</h4>
    </section>
    <form class="Login" method="POST" action="/user/forgot-password">
        <input class="controls" type="email" placeholder="Ingrese su Correo" minlength="4" required>
        <input class="botons" type="submit" value="Recuperar contrase単a">
    </form>

    <%- include('../partials/footer') %>
</body>
</html>