<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="../css/components/form.css">
    <title>
        Recuperar contrase単a | PintaBar
    </title>
    <style>
        .form {
            min-width: 380px !important;
            padding: 8px;
            padding-top: 16px;
        }
    </style>
</head>
<body>
    <%- include('../partials/header') %>

    <section class="header-user2">
        <h2>Recuperar contrase単a</h2>
        <h4>Enviaremos un enlace para recuperar su contrase単a</h4>
    </section>
    <form class="form" method="POST" action="/user/forgot-password">
        <div class="form_fields">
            <div class="form_field">
                <input class="controls" type="email" placeholder="Ingrese su Correo" minlength="4" required>
            </div>
            <div class="form_field">
                <input class="botons" type="submit" value="Recuperar contrase単a">
            </div>
        </div>
    </form>

    <%- include('../partials/footer') %>
</body>
</html>