<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/login.css">
    <link rel="icon" href="../img/title/beer.png">
    <title>
        Recuperar contraseña | PintaBar
    </title>
</head>
<body>
     <header class="header">
        <div class="header__title">
            <a href="/home"><h1>PintaBar</h1></a>
        </div>
        <div class="header__opt">
            <div class="opt__signin">
                <a href="/user/login">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="/user/register">Registrarme</a> 
            </div>
        </div>
    </header>
    <section class="header-user2">
        <h2>Recuperar contraseña</h2>
        <h4>
            Enviamos un correo a la dirección indicada. <br>
            No olvide revisar spam si lo encuentra 
        </h4>
    </section>
      <footer class="footer">
        <section>
            <p> Copyright &copy; 2022 Appinta S.R.L.</p>
        </section>
    </footer>
</body>
</html>