<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/items-list.css">
    <link rel="icon" href="../img/title/beer.png">
    <title>
        Mi Carrito | PintaBar
    </title>
</head>

<body>
    <header class="header">
        <div class="header__title">
            <a href="/"><h1>PintaBar</h1></a>
        </div>
        <div class="header__opt">
            <div class="opt__signin">
                <a href="/user/login">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="/user/register">Registrarme</a> 
            </div>
        </div>
    </header>

    <main class="main">
        <!--Inicio Main-->
        <section class="section-selected">
            <div class="section-title">
                <div class="title">
                    <h2>Lista del pedido</h2>
                </div>
                <span class="title-icon"><button><i class="bi bi-trash3-fill"></i></button></span>
                <span class="title-icon"><button><i class="bi bi-arrow-left-circle"></i></button></span>
            </div>
            <article class="article-selected">
                <img src="/img/categories/food/pizza-huevo.jpg">
                <div class="article-description">
                    <h4>Pizza con huevo (8 porciones)</h4>
                    <h5>$1100.00</h5>
                </div>
                <div class="buttons-carry">
                    <button><i class="bi bi-plus-square-fill"></i></button>
                    <input readonly="readonly" value="1">
                    <button><i class="bi bi-dash-square-fill"></i></button>
                    <div class="delete-button"><button><i class="bi bi-trash3-fill"></i></button></div>
                </div>

            </article>
            <article class="article-selected">
                <img src="/img/categories/food/papa-classic.jpg">
                <div class="article-description">
                    <h4>Papas clásicas (Salsa de ajo)</h4>
                    <h5>$550.00</h5>
                </div>
                <div class="buttons-carry">
                    <button><i class="bi bi-plus-square-fill"></i></button>
                    <input readonly="readonly" value="1">
                    <button><i class="bi bi-dash-square-fill"></i></button>
                    <div class="delete-button"><button><i class="bi bi-trash3-fill"></i></button></div>
                </div>

            </article>
            <article class="article-selected">
                <img src="/img/categories/drinks/24CervezasPatagoniaWeisseLta410ml.webp">
                <div class="article-description">
                    <h4>Cerveza Patagonia Weisse</h4>
                    <h5>$240.00</h5>
                </div>
                <div class="buttons-carry">
                    <button><i class="bi bi-plus-square-fill"></i></button>
                    <input readonly="readonly" value="2">
                    <button><i class="bi bi-dash-square-fill"></i></button>
                    <div class="delete-button"><button><i class="bi bi-trash3-fill"></i></button></div>
                </div>
            </article>
            <article class="article-selected">
                <img src="/img/categories/drinks/CervezaPatagoniaAbrazodeOsoLata473ml.webp">
                <div class="article-description">
                    <h4>Cerveza Abrazo de Oso</h4>
                    <h5>$290.00</h5>
                </div>
                <div class="buttons-carry">
                    <button><i class="bi bi-plus-square-fill"></i></button>
                    <input readonly="readonly" value="2">
                    <button><i class="bi bi-dash-square-fill"></i></button>
                    <div class="delete-button"><button><i class="bi bi-trash3-fill"></i></button></div>
                </div>
            </article>
            <article class="article-selected">
                <img src="/img/categories/food/pizza-rucula.jpg">
                <div class="article-description">
                    <h4>Pizza con rúcula (4 porciones)</h4>
                    <h5>$650.00</h5>
                </div>
                <div class="buttons-carry">
                    <button><i class="bi bi-plus-square-fill"></i></button>
                    <input readonly="readonly" value="1">
                    <button><i class="bi bi-dash-square-fill"></i></button>
                    <div class="delete-button"><button><i class="bi bi-trash3-fill"></i></button></div>
                </div>
            </article>

            <div class="div-payment">
                    <h4>Total: $2.830.00</h4>


            </div>
        </section>
        
               <!--Fin Main-->
    </main>

    <footer class="footer">
        <!--Inicio Footer-->


        <!--Fin Footer-->
    </footer>

</body>

</html>