<section class="categories">
    <div class="categories__title">
        <a href="/products">Nuestros productos</a>
    </div>
    <% categories.forEach( category => { %>
    <a href="products?category=<%= category.title %>" class="categories__item">
        <img src="<%= category.img %>" alt="Imagen categoria">
        <p><%= category.title %></p>
    </a>
    <% }) %>
</section>