<header class="header">
    <div class="header__title">
        <a href="/"><h1>PintaBar</h1></a>
    </div>
    <div class="header__opt">
        <div class="opt__signin">
            <a href="/user/login">Ingresar</a>
        </div>
        <div class="opt__signup">
            <a href="/user/register">Registrarme</a> 
        </div>
    </div>
</header>