<header class="header">
    <div class="header__title">
        <a href="/"><h1>PintaBar</h1></a>
    </div>
    <div class="header__opt">
        <% if (locals.isLogged) { %>
            <div class="opt__cart">
                <a href="/cart">
                    <i class="bi bi-cart2"></i>
                    <div>4</div>
                </a>
            </div>
            <div class="opt__account">
                <i class="bi bi-person-circle"></i>
            </div>
        <% } else { %>
            <div class="opt__signin">
                <a href="/user/login">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="/user/register">Registrarme</a> 
            </div>
        <% } %>
    </div>
</header>