<section class="promotions">
    <div class="promotions__img">
        <img src="img/promotions/pizzas.png" alt="Img promoción">
        <button class="left"><i class="bi bi-arrow-left"></i></button>
        <button class="right"><i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="promotions__info">
        <h2>50% OFF</h2>
        <h3>Pizza y pastas</h3>
        <a href="#">Ver promociones</a>
    </div>
</section>