<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../fonts/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/header-user.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/login.css">
    <link rel="icon" href="../img/title/beer.png">
    <title>
        Login | PintaBar
    </title>
</head>
<body>
     <header class="header">
        <div class="header__title">
            <a href="/home"><h1>PintaBar</h1></a>
        </div>
        <div class="header__opt">
            <div class="opt__signin">
                <a href="/user/login">Ingresar</a>
            </div>
            <div class="opt__signup">
                <a href="/user/register">Registrarme</a> 
            </div>
        </div>
    </header>
    <section class="header-user2">
        <h2>Bienvenid@
         <img src="../img/title/beer.png" alt="Img beer"></h2>
        <h4>
           Login
        </h4>
    </section>
    <form class="Login" method="POST" action="/user/login">
        <input class="controls" type="email" placeholder="Ingrese su Correo" minlength="4" required>
        <input class="controls" type="password" placeholder="Ingrese su Contraseña" minlength="6" required>
        <a href="/user/forgot-password">¿Olvidaste tu contraseña?</a>
        <a>|</a>
        <a href="/user/register">Crear una cuenta</a>
        <input class="botons" type="submit" value="Iniciar Sesión">
    </form>

      <footer class="footer">
        <section>
            <p> Copyright &copy; 2022 Appinta S.R.L.</p>
        </section>
    </footer>
</body>
</html>