<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/header-user.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/login.css">
    <title>
        Login | PintaBar
    </title>
</head>
<body>
    <%- include('../partials/header') %>

    <section class="header-user2">
        <h2>Bienvenid@
         <img src="../img/title/beer.png" alt="Img beer"></h2>
        <h4>
           Login
        </h4>
    </section>
    <form class="Login" method="POST" action="/user/login">
        <input class="controls" type="email" placeholder="Ingrese su Correo" minlength="4" required>
        <input class="controls" type="password" placeholder="Ingrese su Contraseña" minlength="6" required>
        <a href="/user/forgot-password">¿Olvidaste tu contraseña?</a>
        <a>|</a>
        <a href="/user/register">Crear una cuenta</a>
        <input class="botons" type="submit" value="Iniciar Sesión">
    </form>

    <%- include('../partials/footer') %>

</body>
</html>