<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../partials/head') %>

    <link rel="stylesheet" href="../css/components/header-user.css">
    <link rel="stylesheet" href="../css/components/promotions.css">
    <link rel="stylesheet" href="../css/components/categories.css">
    <link rel="stylesheet" href="../css/components/register.css">
    <title>
       Registro | PintaBar
    </title>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
    <section class="header-user2">
        <h2>Bienvenid@
         <img src="../img/title/beer.png" alt="Img beer"></h2>
        <h4>
           Formulario de registro
        </h4>
    </section>
    <form class="form-register" method="POST" action="/user/register">
        <input class="controls" type="text" name="nombres" id="nombres" placeholder="Ingrese su Nombre" minlength="2" required>
        <input class="controls" type="text" name="apellidos" id="apellidos" placeholder="Ingrese su Apellido" minlength="2" required>
        <input class="controls" type="text" name ="dni" id="dni" placeholder="Ingrese DNI" minlength="8" required>
        <input class="controls" type="date" name="fechanac" id="fechanac" required>
        <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" minlength="6" required>
        <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña" minlength="6" required><br>
        <input class= "checkbox" type="checkbox">Mayor de 18 años<br>
        <a href="/user/login" class="Login">Ingresar</a>
        <input class="botons" type="submit" value="Registrarse">
    </form>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>